---
layout: default
title: EthosLabs
section_id: home
services:
  -
    - title: Expertise
      icon: layout
      desc:
        Understanding of procurement and sales/marketing tactics for government
      color:
    - title: Connections
      icon: layout
      desc:
        Shared rolodex of government parters and investors
      color:
    - title: Visibility
      icon: layout
      desc:
        National recognition at conferences, through press, etc
      color: blue

services-gov:
  -
    - title: Consulting
      icon: layout
      desc:
        Through in-depth local analysis and national experiences, we help agencies adapt their processes, hire new personnel, and understand the options available.
      color: yellow
    - title: Networking
      icon: layout
      desc:
        We help you connect with agencies around common challenges and to common solutions, and highlight the work through the network to boost momentum moving forward.
      color: yellow
    - title: Reusable Apps/Solutions
      icon: layout
      desc:
        We provide reusable templates, guides, and materials, ranging from sample contracts to open source code and policy, to lower the barrier to fully leveraging new tools and approaches.
      color: yellow

milestones:
  - from: 0
    to: 69
    title: Projects completed
  - from: 0
    to: 726
    title: Cups of coffee offered
  - from: 0
    to: 59
    title: Happy clients
  - from: 0
    to: 121
    title: Articles published

---
<div class="slider orbit-container">
	<ul data-orbit="" class="orbit-slides-container slide">
    	<li class="active">
     	   <div class="orbit-caption caption-center">
     		  <div class="row">
     			 <div class="large-12 columns right">
      			   <h2>Accelerating Good Government Through Great Technology</h2> 
				   <div class="two spacing"></div> 
				   <a class="button boxed" href="#contact">Work with Us</a>
      			 </div>
      	 	 </div>
		 	</div>
    	</li>
	</ul>
</div>
<div class='full dark-blue no-padding'>
  <div class='two spacing'></div>
  <div class='row'>
    <div class='call-to-action light'>
      <div class='medium-9 large-9 columns'>
        <p class='left'>Part accelerator, part consultancy, <b>EthosLabs</b> is a new kind of company that helps governments and startups work together.</p>
      </div>
      <div class='medium-3 large-3 columns'>
        <a class='button white' href='#contact'>Work with Us</a>
      </div>
    </div>
  </div>
  <div class='spacing'></div>
</div>

{% include whys.html shape="circle" %}


<div class='full bg-5'>
  <div class='spacing'></div>
  <div class='row'>
    <div class='large-6 columns'>
		<a name="governments"></a>
		
      <h2 class='light'>For Governments</h2>
      <p class='light'>
	  Government technology ends up in the news more often for its failure&mdash;most famously Healthcare.gov&mdash;than for its success. It's easy to lay the blame on the staff. In truth, they are just small players in a massively broken system: contracts with unbreakable locks; custom builds with no manuals, resources, or open community; and procurement rules that box out new, creative startups. Fortunately, new models are emerging&mdash;you just have to know where to look. That's where we can help: not just by finding an existing (much cheaper) solution to your problem, but also by setting the rules and processes to make this the new normal.
      </p>   
      <a class='button boxed' href='#contact'>Get in touch</a>
    </div>
    <div class='large-6 columns'>
      <img src='/images/governments.jpg'>
    </div>
  </div>
  <div class='spacing'></div>
</div>



<div class='full bg-3 light'>
  <div class='row'>
    <div class='large-6 columns'>
      <img src='/images/startups.jpg'>
    </div>
    <div class='large-6 columns'>
		<a name="entrepreneurs"></a>
		
      <h2 class='light'>For Entrepreneurs</h2>
      <p>
		  There are now hundreds of startups actively disrupting the $100B+ government technology ecosystem, working in thousands of jurisdictions, with the support of tens of millions of investment dollars. Yet — for those of us working in the field&mdash;we know that we have truly just scratched the surface. More support is needed to get to the next phase of govtech innovation: more sales traction for existing startups, more investments to help them grow, and more support and guidance as they reach scale in this new territory. That's what we offer at EthosLabs.
      </p>
      <a class='button boxed' href='#contact' target="_blank">Get in touch</a>
    </div>
  </div>
</div>
{% include clients.html %}


{% include get-in-touch.html %}