---
layout: default
title: Services
section_id: services
services:
  -
    - title: Create a Space to Experiment
      icon: layout
      desc:
        Cities should commit to innovation by creating offices or departments dedicated to trying things differently and making it safe for others to do so. Such risk aggregators are the first step toward reinvigorating a culture of experimentation within city hall.
      color:
      todo: Create an office of New Urban Mechanics or appoint a Chief Innovation Officer
    - title: Use Good Data for Better Decisions
      icon: layout
      desc: 
        Governments — especially cities — steward much data, and government officials can use it to make better decisions on resource allocation, performance improvement and even policies. But remember that not all data is created equally, and data gains meaning with context.
      color:
      todo: Appoint a Chief Data Officer or create an Office of Performance management/Enhancement.
    - title: Web design
      icon: layout
      desc:
        Accusamus laborum totam omnis inventore et error aut et eos aut. fuga mollitia vitae id enim omnis perspiciatis. modi maxime eos.
      color:
      todo:
  -
    - title: Web design
      icon: layout
      desc:
        Accusamus laborum totam omnis inventore et error aut et eos aut. fuga mollitia vitae id enim omnis perspiciatis. modi maxime eos.
      color: yellow
      todo:
    - title: Web design
      icon: layout
      desc:
        Accusamus laborum totam omnis inventore et error aut et eos aut. fuga mollitia vitae id enim omnis perspiciatis. modi maxime eos.
      color: yellow
      todo:
    - title: Web design
      icon: layout
      desc:
        Accusamus laborum totam omnis inventore et error aut et eos aut. fuga mollitia vitae id enim omnis perspiciatis. modi maxime eos.
      color: yellow
      todo:
  -
    - title: Web design
      icon: layout
      desc:
        Accusamus laborum totam omnis inventore et error aut et eos aut. fuga mollitia vitae id enim omnis perspiciatis. modi maxime eos.
      color: yellow
      todo:
    - title: Web design
      icon: layout
      desc:
        Accusamus laborum totam omnis inventore et error aut et eos aut. fuga mollitia vitae id enim omnis perspiciatis. modi maxime eos.
      color: yellow
      todo:
    - title: Web design
      icon: layout
      desc:
        Accusamus laborum totam omnis inventore et error aut et eos aut. fuga mollitia vitae id enim omnis perspiciatis. modi maxime eos.
      color: yellow
      todo:
---

<div class='full'>
  <div class='row'>
    <div class='special-title centered-text'>
      <i class='icon-map'></i>
      <h2>Where (we hope) We're Headed</h2>
      <p>Be it the burden placed on them by shrinking federal support, or the opportunity presented by modern technology, 21st-century cities are finding new ways to do things. Distilling our understanding and engagement with those innovations, we have found a number of key principles:</p>
      <p class='shortline'></p>
    </div>
    <div class='two spacing'></div>
  </div>

  {% for row in page.services %}
   {% for service in row %}

    <div class="row">
        <div class='medium-12 large-12 columns icon-text'>
          <i class='icon-{{service.icon}} {{service.color}}'></i>
          <h3>{{service.title}}</h3>
		  <p><strong>Why?</strong> {{service.desc}}</p>
		  <p><strong>How?</strong> {{service.todo}}</p>
  	  	</div>
	</div>
	{% endfor %}
    {% unless forloop.last %}
      <div class="spacing"></div>
    {% endunless %}
  {% endfor %}
</div>