    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>The government tech marketplace is at an inflection point.</h2>
              <br/>
				<p>There are now hundreds of startups actively disrupting the $100B+ government technology ecosystem, working in thousands of jurisdictions, with the support of tens of millions of investment dollars.</p>
				<p>Yet — for those of us working in the field — we know that we have truly just <strong>scratched the surface.</strong></p>
				<p>More support is needed for cities looking to leverage new technology; more investment is needed for entreprenuers building new companies; and more visibility is needed for every member of this ecosystem to encourage even more people to get in the game. That's why we're building <strong>EthosLabs</strong>.</p>
				<p>Part consultancy, part accelerator, and part product shop, <strong>EthosLabs</strong> is a new initiative to drive forward the government technology ecosystem by working hand-in-hand with others doing the same: innovators within city hall, entreprenuers building startups, and investors seeking to catalyze change.</p>
				<p>We're just getting started, and we'll share more about our strategy over time. For now, get in touch if you're interested, and let's start the conversation.</p>
                <br/>
              </div>
        </div>
    </section>
