    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>The government tech marketplace is at an inflection point.</h2>
              <br/>
				<p>For years, significant time, energy, enthusiasm, and indeed resources have gone into turning what was once an optimistic promise into a growing national and international movement — technology in the 21st century that can make public life more open, accessible, effective, and engaged. There are now hundreds of startups actively building the civic technology ecosystem, working in thousands of cities, with the support of tens of millions of investment dollars.</p>
				<p>Yet — for those of us working in the field — we know that we have truly just scratched the surface. More support is needed for cities looking to leverage new technology; mroe investment is needed for entreprenuers building new companies; and more visibility is needed for every member of this ecosystem to encourage even more people to get in the game.</p>
				<p>That's why we're building EthosLabs.</p>
                <br/>
              </div>
        </div>
    </section>
