
<h3>Past Experience / Network</h3>

<section class="tiles">
	<article>
	        <span class="image">
	          <img src="/assets/images/startups/codeforamerica.png" alt="">
	        </span>
	        <a href="https://codeforamerica.org" title="Code for America">
	        </a>
	</article>
	<article>
	        <span class="image">
	          <img src="/assets/images/startups/tikd.png" alt="">
	        </span>
	        <a href="https://tikd.com/agencies" title="TIKD">
	        </a>
	</article>
	<article>
	        <span class="image">
	          <img src="/assets/images/startups/zencity.png" alt="">
	        </span>
	        <a href="https://zencity.com" title="ZenCity">
	        </a>
	</article>
	<article>
	        <span class="image">
	          <img src="/assets/images/startups/polco.png" alt="">
	        </span>
	        <a href="https://polco.us" title="POLCO">
	        </a>
	</article>
	<article>
	        <span class="image">
	          <img src="/assets/images/startups/spidr.png" alt="">
	        </span>
	        <a href="https://spidrtech.com" title="SPIDR Tech">
	        </a>
	</article>

	<article>
	        <span class="image">
	          <img src="/assets/images/startups/citygrows.png" alt="">
	        </span>
	        <a href="https://citygro.ws" title="CityGrows">
	        </a>
	</article>
	<article>
	        <span class="image">
	          <img src="/assets/images/startups/govdelivery.png" alt="">
	        </span>
	        <a href="https://govdelivery.com" title="GovDelivery">
	        </a>
	</article>
	<article>
	        <span class="image">
	          <img src="/assets/images/startups/govloop.png" alt="">
	        </span>
	        <a href="https://govloop.com" title="GovLoop">
	        </a>
	</article>
	<article>
	        <span class="image">
	          <img src="/assets/images/startups/citymart.png" alt="">
	        </span>
	        <a href="https://citymart.com" title="CityMart">
	        </a>
	</article>
	
	<article>
	        <span class="image">
	          <img src="/assets/images/startups/knight.png" alt="">
	        </span>
	        <a href="https://knightfoundation.org" title="Knight Foundation">
	        </a>
	</article>
	<article>
	        <span class="image">
	          <img src="/assets/images/startups/text2ticket.png" alt="">
	        </span>
	        <a href="https://texttoticket.com" title="Text to Ticket">
	        </a>
	</article>
	<article>
	        <span class="image">
	          <img src="/assets/images/startups/zoninghub.png" alt="">
	        </span>
	        <a href="https://zoninghub.com" title="ZoningHub">
	        </a>
	</article>

</section>